<div class="container">
  <div class="alert alert-primary" role="alert">
    Bienvenido (Nombre del usuario)
  </div>

  <div class="">
    <h2>Estos son sus datos</h2>
    <p>DNI: 70749730</p>
  
    <p>Teléfono: 999003643</p>
    <p>Correo Electrónico: gustavovillenat@gmail.com</p>
  
    <p>Dirección: Calle Siempre Viva 456</p>
  
    <button type="button" class="btn btn-primary" (click)="editClient()">
      Editar Datos
    </button>
  </div>
  
  <div class="">
    <h2>Tenemos estos productos pensados para ti</h2>
  </div>


  <div class="">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../assets/img/descarga.png"
            height="250"
            width="200"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              Pide tu tarjeta de Crédito y llévate hasta S./100
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum, consequatur, omnis nostrum laudantium, excepturi
              perferendis id commodi cupiditate quae ad! Magni quas aut qui.
            </p>
            <a href="#" class="btn btn-primary">Ir por el anuncio</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../assets/img/images (1).png"
            height="250"
            width="200"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              Pide tu Préstamo y paga tu primera cuota en 60 días
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum, consequatur, omnis nostrum laudantium, excepturi
              perferendis id commodi cupiditate quae ad! Magni quas aut qui.
            </p>
            <a href="#" class="btn btn-primary">Ir por el anuncio</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../assets/img/images (2).png"
            height="250"
            width="200"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Abre una cuenta cero costos</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum, consequatur, omnis nostrum laudantium, excepturi
              perferendis id commodi cupiditate quae ad! Magni quas aut qui.
            </p>
            <a href="#" class="btn btn-primary">Ir por el anuncio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../assets/img/images.png"
            height="250"
            width="200"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Cambia dólares a cualquier hora</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum, consequatur, omnis nostrum laudantium, excepturi
              perferendis id commodi cupiditate quae ad! Magni quas aut qui.
            </p>
            <a href="#" class="btn btn-primary">Ir por el anuncio</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../assets/img/images.jfif"
            height="250"
            width="200"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Quiero invetir</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum, consequatur, omnis nostrum laudantium, excepturi
              perferendis id commodi cupiditate quae ad! Magni quas aut qui.
            </p>
            <a href="#" class="btn btn-primary">Ir por el anuncio</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../assets/img/descarga.png"
            height="250"
            width="200"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Quiero una Tarjeta de crédito adicional</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              laborum, consequatur, omnis nostrum laudantium, excepturi
              perferendis id commodi cupiditate quae ad! Magni quas aut qui.
            </p>
            <a href="#" class="btn btn-primary">Ir por el anuncio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
